<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ls.dao.LabelMapper">
  <resultMap id="BaseResultMap" type="cn.ls.entity.Label">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="label_classify" jdbcType="VARCHAR" property="label_classify" />
    <result column="label_name" jdbcType="VARCHAR" property="label_name" />
    <result column="label_value" jdbcType="VARCHAR" property="label_value" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, label_classify, label_name, label_value, created, updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from label
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from label
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <select id="selectList" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from label
    </select>
  <insert id="insert" parameterType="cn.ls.entity.Label">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into label (label_classify, label_name, label_value, 
      created, updated)
    values (#{label_classify,jdbcType=VARCHAR}, #{label_name,jdbcType=VARCHAR}, #{label_value,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.ls.entity.Label">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="label_classify != null">
        label_classify,
      </if>
      <if test="label_name != null">
        label_name,
      </if>
      <if test="label_value != null">
        label_value,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="label_classify != null">
        #{label_classify,jdbcType=VARCHAR},
      </if>
      <if test="label_name != null">
        #{label_name,jdbcType=VARCHAR},
      </if>
      <if test="label_value != null">
        #{label_value,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ls.entity.Label">
    update label
    <set>
      <if test="label_classify != null">
        label_classify = #{label_classify,jdbcType=VARCHAR},
      </if>
      <if test="label_name != null">
        label_name = #{label_name,jdbcType=VARCHAR},
      </if>
      <if test="label_value != null">
        label_value = #{label_value,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ls.entity.Label">
    update label
    set label_classify = #{label_classify,jdbcType=VARCHAR},
      label_name = #{label_name,jdbcType=VARCHAR},
      label_value = #{label_value,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>